/* Foundation 6 overrides */

$primary-color: #333333;

/*  hides the various sections of edit my info in my account */
.hidden,
label + input.input-text.hidden, label + textarea.hidden, label + select.hidden, label + div.dropdown.hidden, select + div.dropdown.hidden  {
	display: none;
	height: 0;
	font-size: 0px;
	visibility: hidden;
}


/*  --------------------------------------------------
    :: Glossary
  -------------------------------------------------- */
h3.alpha_section {
    clear: both;
    color: #0D0D0D;
    font-family: myriad-pro,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.25em;
}


.glossaryOffset {
  position: relative;
  height: 255px;
  margin-top: -255px;
  opacity: 0;
  display: block !important;
  z-index: -1;
}


.alpha_nav {
  width: 440px;
  font-family: myriad-pro, Arial, sans-serif;
  font-weight: 600;
  text-align: left;
  margin: 1em 0;
  padding: 0;
  float: left;
}

.alpha_nav ul {
  margin: 0;
  padding: 0;
  line-height: 1em;
  float: left;
}

.alpha_nav li {
  margin: 0;
  padding: 3px 0;
  font-size: 11px;
  line-height: 1em;
  display: inline;
  list-style-type: none;
  float: left;
}

.alpha_nav li a {
  color: $primary-color;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  padding: 0 4px;
  margin-right: 5px;
}

.alpha_nav li a:hover {
  color: #fff;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  text-decoration:none;
}
